In [1]:
from value_today import scraper

In [2]:
scraper = scraper.Scraper()

In [3]:
scraper.number_companies()

5083

In [4]:
raw_data = scraper.valuetoday_usa_scraper(20)

In [5]:
valuetoday_df = scraper.df_cleaning(raw_data)

,Company Name,Company Business,Market Value,Value Metric,Annual Revenue,Revenue Metric,Operating Income,Op Income Metric,Net Income,Net Income Metric,Assets,Assets Metric,Liabilities,Liabilities Metric
0,APPLE,Technology,2256,Billion,274.51,Billion,66.28,Billion,57.41,Billion,2020,Million,"245,062",Million
1,MICROSOFT CORPORATION,Technology,1682,Billion,143.00,Billion,52.95,Billion,44.30,Billion,"301,311",Million,"183,007",Million
2,ALPHABET,Technology,1185,Billion,182.52,Billion,41.22,Billion,40.26,Billion,299.243,Billion,86.32,Billion
3,AMAZON.COM,eCommerce,1634,Billion,386.06,Billion,22.89,Billion,21.33,Billion,"110,908",Million,"184,586",Million
4,FACEBOOK,Communication Services,778.04,Billion,85.96,Billion,32.67,Billion,29.15,Billion,"139,691",Million,"29,244",Million
5,BERKSHIRE HATHAWAY,Financial Services,543.68,Billion,327.22,Billion,None,None,81.41,Billion,829.946,Billion,410.73,Billion
6,J P MORGAN CHASE & CO,Financial Services,387.33,Billion,122.90,Billion,None,None,29.10,Billion,"3,386",Billion,"3,106",Billion
7,VISA,Financial Services,482.17,Billion,21.84,Billion,14.09,Billion,10.86,Billion,"77,884",Million,"42,360",Million
8,JOHNSON & JOHNSON,Healthcare,414.31,Billion,82.58,Billion,19.73,Billion,14.71,Billion,"158,380",Million,"95,402",Million
9,WALMART,Retail,407.84,Billion,523.96,Billion,22.54,Billion,14.88,Billion,"237,382",Million,"162,072",Million
10,BANK OF AMERICA CORPORATION,Financial Services,262.2,Billion,85.53,Billion,None,None,16.47,Billion,"2,741",Million,"2,476",Million
11,PROCTER & GAMBLE COMPANY,Consumer Defensive,345.01,Billion,70.95,Billion,15.7,Billion,13.03,Billion,"120,700",Million,"74,179",Million
12,MASTERCARD,Digital Payment Solution Services,355.84,Billion,15.30,Billion,8.16,Billion,6.41,Billion,"32,127",Million,"25,607",Million
13,EXXON MOBIL CORPORATION,Energy,174.29,Billion,181.50,Billion,-28.88,Billion,-22.44,Billion,"361,495",Million,"181,312",Million
14,AT&T,Telecom,204.94,Billion,171.76,Billion,25.28,Billion,-5.37,Billion,"547,898",Million,"372,002",Million
15,UNITEDHEALTH GROUP,Healthcare,332.73,Billion,255.63,Billion,20.9,Billion,15.40,Billion,"192,483",Million,"127,017",Million
16,THE WALT DISNEY COMPANY,Communication Services,328.02,Billion,2020,Million,"3,794",Million,2020,Million,"201,549",Million,"113,286",Million
17,INTEL CORPORATION,Technology,204.16,Billion,77.86,Billion,23.87,Billion,20.89,Billion,"152,539",Million,"70,529",Million
18,VERIZON COMMUNICATIONS,Communication Services,243.11,Billion,128.29,Billion,28.79,Billion,17.80,Billion,"293,259",Million,"229,146",Million
19,HOME DEPOT,Retail,285.97,Billion,110.22,Billion,15.84,Billion,11.24,Billion,2020,Million,2020,Million