In [11]:
from scraper import number_companies, valuetoday_usa_scraper, df_cleaning

In [22]:
dataframe = valuetoday_usa_scraper(60)
final_df = df_cleaning(dataframe)

In [18]:
final_df

,Company Name,Company Business,Market Value,Annual Revenue,Operating Income,Net Income,Assets,Liabilities
0,APPLE,Technology,2256000000000,274510000000,66280000000,274510000000,317344000000,245062000000
1,MICROSOFT CORPORATION,Technology,1682000000000,143000000000,52950000000,143000000000,301311000000,183007000000
2,ALPHABET,Technology,1185000000000,182520000000,41220000000,182520000000,299243000000,86320000000
3,AMAZON.COM,eCommerce,1634000000000,386060000000,22890000000,386060000000,110908000000,184586000000
4,FACEBOOK,Communication Services,778040000000,85960000000,32670000000,85960000000,139691000000,29244000000
5,BERKSHIRE HATHAWAY,Financial Services,543679999999,327220000000,0,327220000000,829946000000,410730000000
6,J P MORGAN CHASE & CO,Financial Services,387330000000,122900000000,0,122900000000,3386000000000,3106000000000
7,VISA,Financial Services,482170000000,21840000000,14090000000,21840000000,77884000000,42360000000
8,JOHNSON & JOHNSON,Healthcare,414310000000,82580000000,19730000000,82580000000,158380000000,95402000000
9,WALMART,Retail,407840000000,523960000000,22540000000,523960000000,237382000000,162072000000
10,BANK OF AMERICA CORPORATION,Financial Services,262200000000,85530000000,0,85530000000,2741000000,2476000000
11,PROCTER & GAMBLE COMPANY,Consumer Defensive,345010000000,70950000000,15700000000,70950000000,120700000000,74179000000
12,MASTERCARD,Digital Payment Solution Services,355840000000,15300000000,8160000000,15300000000,32127000000,25607000000
13,EXXON MOBIL CORPORATION,Energy,174290000000,181500000000,28880000000,181500000000,361495000000,181312000000
14,AT&T,Telecom,204940000000,171760000000,25280000000,171760000000,547898000000,372002000000
15,UNITEDHEALTH GROUP,Healthcare,332730000000,255630000000,20900000000,255630000000,192483000000,127017000000
16,THE WALT DISNEY COMPANY,Communication Services,328020000000,65388000000,3794000000,65388000000,201549000000,113286000000
17,INTEL CORPORATION,Technology,204160000000,77860000000,23870000000,77860000000,152539000000,70529000000
18,VERIZON COMMUNICATIONS,Communication Services,243110000000,128289999999,28790000000,128289999999,293259000000,229146000000
19,HOME DEPOT,Retail,285970000000,110220000000,15840000000,110220000000,63349000000,63763000000
20,COCA-COLA COMPANY,Consumer Defensive,235670000000,33009999999,9850000000,33009999999,94689000000,77205000000
21,MERCK & COMPANY,Healthcare,206960000000,47990000000,8480000000,47990000000,89800000000,56815000000
22,CHEVRON CORPORATION,Energy,162570000000,94470000000,0,94470000000,223403000000,89285000000
23,WELLS FARGO & COMPANY,Financial Services,124780000000,72340000000,581000000,72340000000,1955000000000,1769000000000
24,PFIZER,Healthcare,204600000000,41910000000,8760000000,41910000000,177934000000,113598000000
25,COMCAST CORPORATION,Communication Services,239750000000,103560000000,17490000000,103560000000,273860000000,182130000000
26,CISCO SYSTEMS,Technology,189090000000,49300000000,14100000000,49300000000,94853000000,56933000000
27,PEPSICO,Consumer Defensive,204940000000,70370000000,10080000000,70370000000,92041000000,78558000000
28,BOEING COMPANY,Industries,120840000000,58160000000,12970000000,58160000000,162872000000,174539000000
29,CITI GROUP,Financial Services,128380000000,74290000000,0,74290000000,2232000000,2041000000

In [1]:
import requests
import re
import pandas as pd
import warnings
from bs4 import BeautifulSoup
from fake_useragent import UserAgent

In [16]:
ua = UserAgent()
header = {'User-Agent':str(ua.chrome)}
url = "https://www.value.today/headquarters/united-states-america-usa?page=0"

source = requests.get(url, headers=header)
soup = BeautifulSoup(source.content, "html.parser")

# Create a list of divs with all required information.
info_blocks = soup.find_all("div", class_="node node--type-listed-companies node--view-mode-teaser ds-2col-stacked clearfix")

collected_names = []
collected_businesses = []
collected_values = []
collected_values_metrics = []
collected_revenues = []
collected_revenues_metrics = []
collected_op_incomes = []
collected_op_incomes_metrics = []
collected_net_incomes = []
collected_net_incomes_metrics = []
collected_assets = []
collected_assets_metrics = []
collected_liabilities = []
collected_liabilities_metrics = []

for item in info_blocks:

    def collect_values(item, collected_list):
        if len(item) == 0:
            collected_list.append(None)
        else:
            string = item[0].text.strip() 
            value = re.findall("\d+[.,]\d+|^\d+", string)
            collected_list.append(value[0])


    def collect_metrics(item, collected_list):
        if len(item) == 0:
            collected_list.append(None)
        else:
            string = item[0].text.strip()
            if "Billion" in string:
                collected_list.append("Billion")
            if "Million" in string:
                collected_list.append("Million")

    name = item.find("h2").text.strip()
    collected_names.append(name)

    business = item.select("div.field--name-field-company-category-primary > div > div.field--item > a")[0].text.strip()
    collected_businesses.append(business)

    market_value = item.select("div.field--name-field-market-value-jan012021 > div.field--item")[0]["content"]
    collected_values.append(market_value)

    market_value_item = item.select("div.field--name-field-market-value-jan012021 > div.field--item")
    collect_metrics(market_value_item, collected_values_metrics)

    revenue_item = item.select("div.field--name-field-annual-revenue > div.field--item")
    collect_values(revenue_item, collected_revenues)
    collect_metrics(revenue_item, collected_revenues_metrics)

    op_income_item = item.select("div.field--name-field-annual-operating-income > div.field--item")
    collect_values(op_income_item, collected_op_incomes)
    collect_metrics(op_income_item, collected_op_incomes_metrics)

    net_income_item = item.select("div.field--name-field-annual-revenue > div.field--item")
    collect_values(net_income_item, collected_net_incomes)
    collect_metrics(net_income_item, collected_net_incomes_metrics)

    assets_item = item.select("div.field--name-field-total-assets > div.field--item")
    collect_values(assets_item, collected_assets)
    collect_metrics(assets_item, collected_assets_metrics)

    liabilities_item = item.select("div.field--name-field-total-liabilities- > div.field--item")
    collect_values(liabilities_item, collected_liabilities)
    collect_metrics(liabilities_item, collected_liabilities_metrics)

    df = pd.DataFrame({"Company Name": collected_names, "Company Business": collected_businesses, "Market Value": collected_values, 
                        "Value Metric": collected_values_metrics, "Annual Revenue": collected_revenues, 
                        "Revenue Metric": collected_revenues_metrics, "Operating Income": collected_op_incomes, 
                        "Op Income Metric": collected_op_incomes_metrics, "Net Income": collected_net_incomes, 
                        "Net Income Metric": collected_net_incomes_metrics, "Assets": collected_assets, 
                        "Assets Metric": collected_assets_metrics, "Liabilities": collected_liabilities, 
                        "Liabilities Metric": collected_liabilities_metrics})

In [17]:
df

,Company Name,Company Business,Market Value,Value Metric,Annual Revenue,Revenue Metric,Operating Income,Op Income Metric,Net Income,Net Income Metric,Assets,Assets Metric,Liabilities,Liabilities Metric
0,APPLE,Technology,2256,Billion,274.51,Billion,66.28,Billion,274.51,Billion,"317,344",Million,"245,062",Million
1,MICROSOFT CORPORATION,Technology,1682,Billion,143.00,Billion,52.95,Billion,143.00,Billion,"301,311",Million,"183,007",Million
2,ALPHABET,Technology,1185,Billion,182.52,Billion,41.22,Billion,182.52,Billion,299.243,Billion,86.32,Billion
3,AMAZON.COM,eCommerce,1634,Billion,386.06,Billion,22.89,Billion,386.06,Billion,"110,908",Million,"184,586",Million
4,FACEBOOK,Communication Services,778.04,Billion,85.96,Billion,32.67,Billion,85.96,Billion,"139,691",Million,"29,244",Million
5,BERKSHIRE HATHAWAY,Financial Services,543.68,Billion,327.22,Billion,None,None,327.22,Billion,829.946,Billion,410.73,Billion
6,J P MORGAN CHASE & CO,Financial Services,387.33,Billion,122.90,Billion,None,None,122.90,Billion,"3,386",Billion,"3,106",Billion
7,VISA,Financial Services,482.17,Billion,21.84,Billion,14.09,Billion,21.84,Billion,"77,884",Million,"42,360",Million
8,JOHNSON & JOHNSON,Healthcare,414.31,Billion,82.58,Billion,19.73,Billion,82.58,Billion,"158,380",Million,"95,402",Million
9,WALMART,Retail,407.84,Billion,523.96,Billion,22.54,Billion,523.96,Billion,"237,382",Million,"162,072",Million

In [9]:
number = info_blocks[1].select("div.field--name-field-annual-operating-income > div.field--item")[0].text

In [10]:
number

'8.48 Billion USD for Year ending December-2020'

In [11]:
def collect_metrics(item, collected_list):
    if len(item) == 0:
        collected_list.append(None)
    else:
        string = item[0].text.strip()
    if "Billion" in string:
        collected_list.append("Billion")
    if "Million" in string:
        collected_list.append("Million")

op_income_item = item.select("div.field--name-field-annual-operating-income > div.field--item")
op_income_string = op_income_item[0].text.strip()

In [28]:
op_income_item = item.select("div.field--name-field-annual-operating-income > div.field--item")
if len(op_income_item) == 0:
    collected_op_incomes.append(None)
else:
    op_income_string = op_income_item[0].text.strip()
    op_income = re.findall("\d+[.,]\d+", op_income_string)
    collected_op_incomes.append(op_income[0])

if len(op_income_item) == 0:
    collected_op_incomes_metrics.append(None)
elif "Billion" in op_income_string:
    collected_op_incomes_metrics.append("Billion")
elif "Million" in op_income_string:
    collected_op_incomes_metrics.append("Million")

In [29]:
collected_op_incomes_metrics

['Billion',
 'Billion',
 'Billion',
 'Billion',
 'Billion',
 None,
 None,
 'Billion',
 'Billion',
 'Billion',
 'Billion']

In [31]:
collected_op_incomes

['66.28',
 '52.95',
 '41.22',
 '22.89',
 '32.67',
 None,
 None,
 '14.09',
 '19.73',
 '22.54',
 '22.54',
 '22.54']